---
import "../../../styles/global.css";
---

<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto px-8">
    <div class="flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
      <div>
        &copy; 2024 Filippo Danesi. Tutti i diritti riservati.
      </div>
      <div class="flex space-x-4">
        <a href="https://www.facebook.com/filippodanesi3/" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a href="https://twitter.com/filippodanesi" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a href="https://www.linkedin.com/in/filippodanesi/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/filippodanesi" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </div>
  </div>
</footer>
