<footer class="bg-black dark:bg-gray-800 text-white py-6">
  <div class="container mx-auto px-8 text-center">
    <div class="mb-2">
      <p class="text-xl font-medium">Filippo Danesi</p>
    </div>
    <div class="mb-2">
      <a href="https://www.linkedin.com/in/filippodanesi/" class="mr-4 hover:underline">LinkedIn</a>
      <a href="https://github.com/filippodanesi" class="mr-4 hover:underline">GitHub</a>
      <a href="mailto:info@filippodanesi.it" class="hover:underline">Email</a>
    </div>
    <div>
      <p>© 2024 Filippo Danesi. Tutti i diritti riservati.</p>
    </div>
  </div>
</footer>
