<footer>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div class="border-t border-neutral-300 pt-4">
        <div class="md:flex md:flex-col md:items-center md:space-y-4">
          <!-- Icone social sopra con bordo -->
          <div class="flex justify-center space-x-4 mt-4">
            <a href="https://github.com/filippodanesi" target="_blank" rel="noopener noreferrer">
              <img src="/icons/github.svg" alt="GitHub" class="h-4 w-4">
            </a>
            <a href="https://linkedin.com/in/filippodanesi" target="_blank" rel="noopener noreferrer">
              <img src="/icons/linkedin.svg" alt="LinkedIn" class="h-4 w-4">
            </a>
            <a href="https://twitter.com/filippodanesi" target="_blank" rel="noopener noreferrer">
              <img src="/icons/twitter.svg" alt="Twitter" class="h-4 w-4">
            </a>
          </div>
          <!-- Testo del copyright sotto -->
          <div class="text-center text-sm font-light mt-4 text-neutral-400 dark:text-neutral-400">
            &copy; Filippo Danesi — 2024. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
