<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
              <div class="relative">
                <img
                  class="h-16 w-16 lg:h-24 lg:w-24 rounded-full border border-white/10"
                  src="/images/avatar.jpg"
                  alt="image"
                />
                <span
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"></span>
              </div>
            </div>

            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                ✺ Filippo Danesi
              </h1>
              <p class="text-sm font-light text-neutral-500">
                Technical SEO Lead @ NUR Digital Marketing
              </p>
              <p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white"
                  href="https://www.serp-secrets.com">serp-secrets.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="mt-24 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
            <p>
              Over the past 4 years, I have dedicated myself to mastering the intricacies of technical SEO, playing a pivotal role in enhancing the online presence of startups, e-commerce platforms, and digital agencies.
            </p>
            <p>
              My expertise lies in technical SEO, where I excel in optimizing website architecture, improving site speed, and ensuring mobile-friendliness. I apply semantic SEO principles to enhance content relevance and contextuality, ensuring a deeper connection with target audiences. My work includes the use of frameworks like Next.js and Astro, implementing server-side rendering to further enhance web performance. Additionally, I am deeply involved in leveraging artificial intelligence to refine search strategies, thereby boosting our clients' business performance.
            </p>
            <p>
              As a Technical SEO Lead, I have the privilege of leading ambitious projects, mentoring junior SEO specialists, and steering initiatives that integrate AI with SEO to drive innovative solutions in digital marketing.
            </p>
            <p>
              <a
                style="text-xs underline hover:no-underline duration-200 dark:text-white"
                href="../Filippo_Danesi_-_Technical_SEO_Lead.pdf">In case you want to download my CV</a
              >
            </p>                              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
