@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeistSans';
    src: url('/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'GeistSans';
    src: url('/fonts/Geist-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  :root {
    --font-geist-sans: 'GeistSans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
    --font-geist-mono: 'GeistMono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  p {
    color: #71717a;
  }

  .text-black {
    color: #1a1a25 !important;
  }

  .bg-white {
    background-color: #F8F8F8 !important;
  }

  a.cky-policy,
  button.cky-show-desc-btn {
    border-bottom: 1px solid var(--border) !important;
    opacity: 1 !important;
    padding-bottom: 0.25rem !important;
    transition: border .35s cubic-bezier(.165,.84,.44,1) !important;
    display: inline !important;
    color: #1A1A25 !important;
    text-decoration: none !important;
  }
  
  button.cky-btn {
    border-radius: 50rem;
  }

  button.cky-btn.cky-btn-accept,
  button.cky-btn.cky-btn-reject {
    border: none;
    background-color: #1A1A25 !important;
    color: #fff !important;
  }

  button.cky-btn.cky-btn-preferences,
  button.cky-btn.cky-btn-customize {
    color: rgba(26, 26, 37, .65) !important;
    border: 1px solid #DCDFE3 !important;
    background-color: transparent;
  }
  
  .cky-consent-bar .cky-banner-btn-close {
    top: 12px !important;
    right: 12px !important;
  }
  
  .cky-modal {
    border-radius: 12px;
  }
  
  button.cky-btn.cky-btn-accept,
  button.cky-btn.cky-btn-reject,
  .cky-notice-des P:last-child,
  button.cky-btn.cky-btn-customize,
  a.cky-policy,
  button.cky-btn.cky-btn-preferences {
    line-height: 1.5em !important;
    font-size: 12px !important;
  }
  
  p.cky-title {
    font-size: 14px !important;
  }

  div.cky-btn-revisit-wrapper.cky-revisit-bottom-left {
    background-color: #1a1a25 !important;
  }

  .cky-consent-container .cky-consent-bar {
	box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06) !important;
    border-radius: 12px;
  }
  
  body {
    font-family: var(--font-geist-sans);
  }
  
  pre, code {
    font-family: var(--font-geist-mono);
  }