---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white dark:bg-black">
    <slot />
    <script defer src="https://jscloud.net/x/40324/inlinks.js"></script>
  </body>
</html>
